<section id="login" class="mb-5 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
        <div class="card_login">
          <img src="assets/img/logo.svg" class="mx-auto d-block mb-4">

          <div *ngIf="mostrarMensaje" class="alert alert-danger mb-2" role="alert">
            Su correo electrónico o contraseña son incorrectos. <b> Intente nuevamente.</b>
          </div>
          <div *ngIf="mostrarMensajeSuccess" class="alert alert-success mb-2" role="alert">
            Ingreso correcto <b> Bienvenido.</b>
          </div>
          <div class="card">
            <div class="card-body text-center">
              <form ngNativeValidate [formGroup]="loginForm" method="post" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <input id="email" formControlName="email" name="email" class="form-control" placeholder="Email"  required>
                </div>
                <div class="form-group">
                  <input type="password" id="password" formControlName="password" name="password" class="form-control" placeholder="Password"
                    required>
                </div>
                <button type="submit" class="btn btn-lg btn-primary btn-block">Login</button>
                <div class="form-group mt-3">
                  <a href="https://www.utec.edu.pe" class="form-control login-user">by UTEC</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>