<dx-map 
    #map    
    center="Lima, Perú" 
    [zoom]="10" 
    [height]="400" 
    width="100%" 
    provider="bing"
    [key]="keys"
    [type]="mapTypes[0].key"
    [controls]="true" 
    [markerIconSrc]="mapMarkerUrl" 
    [markers]="markers">
</dx-map>
​
<div class="options">
    <div class="caption">Opciones</div>
    <div class="option">
        <span>Tipo de Mapa </span>
        <dx-select-box 
            [dataSource]="mapTypes" 
            displayExpr="name" 
            valueExpr="key" 
            [(value)]="map.type">
        </dx-select-box>
    </div>
</div>